@model PruebaTecnicaWebMaster.Models.ViewModel.SaleVM

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.Client)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale.MailClient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.MailClient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.TotalPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale.CreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.CreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale.PaidDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.PaidDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sale.IsPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sale.IsPaid)
        </dd>
    </dl>
</div>
<div>
    <h4>Purchased products</h4>
    <hr />
    <table class="table content-table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.products)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameProducts)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UnitPrice)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Accounting">Back to List</a>
</div>
